<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>217387917756-ue5934fg7r7vesatbadnoq2lunj0qtff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217387917756-ue5934fg7r7vesatbadnoq2lunj0qtff</string>
	<key>API_KEY</key>
	<string>AIzaSyD534OE54g1YSLLUXdiOXLkcK64_2CieLA</string>
	<key>GCM_SENDER_ID</key>
	<string>217387917756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sixsol.fastInspection</string>
	<key>PROJECT_ID</key>
	<string>fast-inspection-app</string>
	<key>STORAGE_BUCKET</key>
	<string>fast-inspection-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217387917756:ios:a621c3e2470da2bfdb4bb9</string>
</dict>
</plist>